<table class="table">
  <tr>
    <th>Name</th>
    <th>Completed</th>
  </tr>

  {{#each this}}
    <tr class="todo">
      <td class="name">{{name}}</td>
      <td>
        {{input type="checkbox" checked=completed}}
      </td>
    </tr>
  {{/each}}
</table>

<button {{action "save"}}>Save</button>

<span id="arbitrary-action">
  <span class="name">
    {{input type="text" value=arbitraryActionName}}
  </span>

  <span class="link">
    <a {{action "triggerArbitraryAction"}} href="#">Trigger</a>
  </span>
</span>